[MESSAGES CONTROL]
disable = broad-exception-caught,
          line-too-long,
          global-statement,
          dangerous-default-value,
          logging-fstring-interpolation,
          protected-access